<!DOCTYPE html>
<html>
<head>
	<title>LyFinder : Blood Donor Finder</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="./index_style.css">

</head>
<body>


	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">
    		<img src="./LyFinder.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy" style="border-radius: 2px;">
    		LyFinder
  		</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/index">Feed<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/post">Post a Request</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/profile">Profile</a>
	      </li>
	    </ul>
	    <div class="btn">
	    	<a href="/profile">Welcome <%=name.split(" ")[0]%></a>
	    </div>
	    	
	  </div>
	</nav>

	<div class="cont">
		<div class="inner_container_left">
			
		</div>
		<div class="inner_container_middle">
			<% for(var i=0;i<rows.length;i++){ %>
				<div class="card">
					<div class="card-body">
                        <h4 class="card-title">BLOOD BANK NAME : <%=rows[i].name%></h5>
					    <h4 class="card-title">PHONE NUMBER  : <%=rows[i].phone_no%></h5>
					    <hr>
					    <p class="card-text"><h5 style="display: inline-block;">Address</h4> : <%=rows[i].address%></p>
					    <a href="/bloodbank<%=rows[i].bb_id%>" class="btn btn-primary">Stock</a>
			  		</div>		
				</div>
			<%}%>

		</div>
		<div class="inner_container_right">
		</div>
	</div>
	
		  

</body>
</html>