<%- include("partials/header") %>
</head>
<body onload="document.getElementById('defaultOpen').click();"> 
<%- include("partials/navbar") %>  
 <div class="login-reg-panel">
  <div class="white-panel">
            <div class="login-show show-log-panel">
              <div class = "container">
          
            <div class="tab">
                <button  class="tablinks active" onclick="openCity(event, 'Details')" id="defaultOpen">Details</button>
                <button class="tablinks" onclick="openCity(event, 'Transfusion')">Transfusion details</button>
                <button class="tablinks" onclick="openCity(event, 'Request')">Request details</button>
                <!-- <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button> -->
              </div>
              
              <!-- Tab content -->
              <div id="Details" class="tabcontent">
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">Name</th>
                      <td><%=rows[0].name%></td>
                    </tr>
                    <tr>
                      <th scope="row">Age</th>
                      <td><%=rows[0].age%></td>
                    </tr>
                    <tr>
                      <th scope="row">Email</th>
                      <td><%=rows[0].email%></td>
                    </tr>
                    <tr>
                      <th scope="row">Phone Number</th>
                      <td><%=rows[0].phone_no%></td>
                    </tr>
                    <tr>
                      <th scope="row">Blood Group</th>
                      <td><%=rows[0].blood_group%></td>
                    </tr>
                    <tr>
                      <th scope="row">Address</th>
                      <td><%=rows[0].address%></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <div id="Transfusion" class="tabcontent">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Patient's Name</th>
                      <th scope="col">Patient's Age/Blood bank Name</th>
                      <th scope="col">Hospital name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div id="Request" class="tabcontent">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Date & Time</th>
                      <th scope="col">Blood Type</th>
                      <th scope="col">Unit</th>
                      <th scope="col">Emergency</th>
                      <th scope="col">Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0;i<row.length;i++) {%>
                    <tr>
                      <td><%=row[i].date.toString()%></td>
                      <td><%=row[i].blood_type%></td>
                      <td><%=row[i].unit%></td>
                      <td><%=row[i].emergency%></td>
                      <td><%=row[i].address%></td>
                    </tr>
                    <%}%>
                  </tbody>
                </table>
              </div>
              <!-- <div id="Tokyo" class="tabcontent">
                <p>Tokyo is the capital of Japan.</p>
              </div> -->
            <style>

            .container{
                box-shadow: 0 0 15px 9px #00000096;
            }
                /* Style the tab */
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
                <!-- box-shadow: 0 0 15px 9px #00000096 -->
              }
              
              /* Style the buttons that are used to open the tab content */
              .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
              }
              
              /* Change background color of buttons on hover */
              .tab button:hover {
                background-color: #ddd;
              }
              
              /* Create an active/current tablink class */
              .tab button.active {
                background-color: #ccc;
              }
              
              /* Style the tab content */
              .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
              }
            </style>
            <script>
                function openCity(evt, cityName) {
                    // Declare all variables
                    var i, tabcontent, tablinks;
                  
                    // Get all elements with class="tabcontent" and hide them
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                      tabcontent[i].style.display = "none";
                    }
                  
                    // Get all elements with class="tablinks" and remove the class "active"
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                      tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                  
                    // Show the current tab, and add an "active" class to the button that opened the tab
                    document.getElementById(cityName).style.display = "block";
                    evt.currentTarget.className += " active";
                  }
            </script>
        </div>
    </div>
  </div>
  </div>
  </div>
        <!-- Tab links -->
        <br>
        




<%- include("partials/footer") %>